



body {
	background-image:url(https://cache.desktopnexus.com/cropped-wallpapers/554/554834-1280x960-[DesktopNexus.com].jpg?st=yInus3DH5tdEAwQJ-ekCQQ&e=1601999140);
}

#header{
	color:white;
	text-align:center;
	font-size:600%;
}

#h2{
   color: #FAFD45;
   text-align:center;

}
h3{
	color:red;
	text-align:center;
}
h4{
	color:red;
	text-align:center;
}
#fdiv {
  color:black;
  width: 270px;
  border: 3px;
  padding: 20px;
  background: linear-gradient(to left, yellow, red);
  margin: auto;
  
}
#gamer{
	color:white;
}
#test{
	color:green;
}
table {

	background:white;
	border: 5px solid black;
	border-collapse: collapse;
	width:50%
	margin-left:auto;
	margin-right:auto;

}
td , tr {
	border: solid black;
	 padding: 50px;
}

#body{
	text-align:center;
}
button{
	 background-color: yellow ; 
  border: none;
  color: black;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}